.unit-head {
  font-family: "Inter Tight";
  font-size: 21px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  color: #201d1e;
}

.units-search {
  font-family: "Inter Tight";
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  box-sizing: border-box;
}

.units-search::placeholder {
  font-family: "Inter Tight";
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.unit-selection {
  font-family: "Public Sans", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  color: #201d1e;
  box-sizing: border-box;
}

.unit-add-new-unit {
  background-color: #2892ce;
  color: white;
  font-family: "Inter Tight";
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.43px;
  box-sizing: border-box;
}

.unit-add-new-unit:hover {
  background-color: #076094;
}

.unit-download-btn {
  background-color: #f0f0f0;
  font-family: "Inter Tight";
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.43px;
  color: #4d4e4d;
  box-sizing: border-box;
}

.unit-download-btn:hover {
  background-color: #201d1e;
  color: white;
}

.unit-download-btn:hover .unit-download-img {
  filter: brightness(0) saturate(100%) invert(100%) sepia(2%) saturate(537%)
    hue-rotate(47deg) brightness(118%) contrast(100%);
}

.unit-thead {
  font-family: "Inter Tight";
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 1px;
  color: #818da0;
}

.unit-data {
  font-family: "Inter Tight";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  color: #201d1e;
}

.unit-action-btn:hover {
  filter: brightness(0) saturate(100%) invert(8%) sepia(7%) saturate(582%)
    hue-rotate(289deg) brightness(100%) contrast(91%);
}

.unit-collection-list-pagination {
  font-family: "Inter Tight";
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  color: #4b465c80;
}

.unit-pagination-btn {
  font-family: "Inter Tight";
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0.43px;
  color: #8a94a3;
}

.unit-page-no-btns {
  font-family: "Inter Tight";
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0.43px;
}

.unit-action-buttons-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 10px;
}

/* Responsive Styles */
@media (max-width: 360px) {
  .unit-table {
    margin-bottom: 50px;
  }
  .unit-table-header {
    padding: 16px;
  }
  .units-search {
    width: 60%;
  }
  .unit-selection {
    width: 100%;
  }
  .unit-download-btn {
    width: 40%;
  }
  .unit-thead.unit-date-column {
    padding-left: 14px;
    padding-right: 0;
  }
  .unit-data.unit-date-column {
    padding-left: 14px;
    padding-right: 0;
    white-space: nowrap;
  }
  .unit-pagination-btn {
    font-size: 13px;
    padding: 0px 10px;
    height: 28px;
  }
  .unit-page-no-btns {
    font-size: 13px;
    padding: 0px 10px;
    height: 28px;
  }
}

@media (max-width: 375px) {
  .unit-thead.unit-date-column {
    padding-left: 14px;
    padding-right: 0;
  }
  .unit-data.unit-date-column {
    padding-left: 14px;
    padding-right: 0;
  }
}

@media (max-width: 390px) {
  .unit-thead.unit-date-column {
    padding-left: 14px;
    padding-right: 0;
  }
  .unit-data.unit-date-column {
    padding-left: 14px;
    padding-right: 0;
  }
  .unit-selection {
    width: 120px;
  }
  .unit-download-btn {
    width: 120px;
  }
}

@media (max-width: 414px) {
  .unit-thead {
    font-size: 11px;
  }
  .unit-thead.unit-date-column {
    padding-left: 14px;
    padding-right: 0;
  }
  .unit-data.unit-date-column {
    padding-left: 14px;
    padding-right: 0;
  }
  .unit-selection {
    width: 120px;
  }
  .unit-download-btn {
    width: 120px;
  }
}

@media (max-width: 428px) {
  .unit-thead.unit-date-column {
    padding-left: 14px;
    padding-right: 0;
  }
  .unit-data.unit-date-column {
    padding-left: 14px;
    padding-right: 0;
  }
}

@media (max-width: 480px) {
  .unit-table {
    max-width: calc(100vw - 40px);
    margin-bottom: 50px;
  }
  .unit-table-header {
    flex-direction: column;
    border-bottom: none;
    align-items: flex-start;
    padding: 20px;
  }
  .unit-head {
    display: none;
  }
  .unit-inputs-container {
    flex-direction: column;
    width: 100%;
    gap: 10px;
    margin-bottom: 5px !important;
  }
  .unit-inputs-container > div:first-child {
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 100%;
    flex-wrap: nowrap;
  }
  .units-search {
    width: 60%;
  }
  .unit-selection {
    width: 100%;
    margin-left: 0px;
  }
  .unit-action-buttons-container {
    margin-top: 5px;
  }
  .unit-add-new-unit {
    width: 60%;
    font-size: 15px;
  }
  .unit-download-btn {
    width: 40%;
  }
  .unit-desktop-only {
    display: none;
  }
  .unit-pagination-container {
    flex-direction: column;
    height: 97.53px;
    justify-content: center;
    gap: 16px;
    align-items: center;
  }
  .unit-collection-list-pagination {
    text-align: center;
  }
  .unit-pagination-buttons {
    display: flex;
    justify-content: center;
    width: 100%;
    overflow-y: hidden;
  }
  .unit-dropdown-field {
    background-color: #dedede;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    margin-right: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;
  }
  .unit-dropdown-field.active {
    background-color: #254396;
  }
  .unit-dropdown-img {
    width: 10px;
    transition: transform 0.3s ease;
  }
  .unit-dropdown-field.active .unit-dropdown-img {
    transform: rotate(180deg);
  }
  .unit-table-row-head {
    height: auto;
    background-color: #f7f7f7;
    border-bottom: none;
  }
  .unit-thead {
    padding-right: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .unit-id-column {
    padding-right: 10px;
    width: 50%;
  }
  .unit-date-column {
    width: 50%;
    padding-left: 14px;
    padding-right: 0;
  }
  .unit-data.unit-date-column {
    white-space: nowrap;
    padding-left: 14px;
    padding-right: 0;
  }
  .unit-dropdown-label {
    font-family: "Inter Tight";
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 1px;
    color: #818da0;
    margin-bottom: 4px;
    padding-left: 0;
  }
  .unit-dropdown-value {
    font-family: "Inter Tight";
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    color: #201d1e;
    word-break: break-word;
    padding-right: 0px;
  }
  .unit-status {
    padding: 0px 9px;
    border-radius: 3px;
    margin-top: 5px;
    display: inline-block;
    text-align: center;
  }
  .unit-dropdown-content {
    width: 100%;
    padding: 10px 0;
  }
  .unit-grid {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
  }
  .unit-grid-item {
    padding-right: 5px;
    width: 50%;
  }
  .unit-flex.unit-items-center.unit-gap-2 {
    gap: 10px;
  }
  .unit-mobile-no-border {
    border-bottom: none !important;
  }
  .unit-mobile-with-border {
    border-bottom: 1px solid #e9e9e9;
  }
}

@media (min-width: 481px) {
  .unit-dropdown-field,
  .unit-dropdown-content {
    display: none;
  }
}

@media (max-width: 394px) {
  .unit-thead {
    font-size: 13px;
  }
  .unit-data {
    font-size: 13px;
  }
}