.building-info-form-container {
  width: 100%;
  max-width: 100vw;
  padding: 20px;
  box-sizing: border-box;
}

.building-info-form-label {
  margin-bottom: 10px;
  font-family: "Inter Tight";
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #201d1e;
}

.building-info-form-inputs::placeholder {
  font-family: "Inter Tight";
  font-size: 15px;
}

.building-info-form-inputs {
  border: 1px solid #e9e9e9;
  background-color: white;
  border-radius: 6px;
  padding: 7px 14px;
  outline: none;
  font-family: "Inter Tight";
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  color: #8a898b;
}

.next-btn {
  background-color: #2892ce;
  border-radius: 6px;
  color: white;
  font-family: "Inter Tight";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0.43px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.next-btn:hover {
  background-color: #0d74af;
}

/* Hide number input spinners */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
}

/* Mobile Responsive Styles */
@media (max-width: 480px) {
  .building-info-form-container {
    background-color: white;
    padding: 0px;
  }

  .grid {
    grid-template-columns: 1fr; /* Single column for mobile */
  }

  .building-info-form-inputs {
    max-width: calc(100vw - 40px); /* Account for 20px padding on each side */
  }

  .next-btn {
    max-width: calc(100vw - 40px);
    width: 150px;
    height: 38px;
  }

  .next-btn-container {
    display: flex;
    justify-content: flex-end;
  }
}

/* Desktop Styles */
@media (min-width: 768px) {
  .building-info-form-container {
    max-width: 800px; /* Adjust as needed for desktop */
    background-color: white;
  }

  .grid {
    grid-template-columns: repeat(
      2,
      1fr
    ); /* Restore 2-column grid for desktop */
  }

  .next-btn {
    width: 150px;
    height: 38px;
  }

  .next-btn-container {
    display: flex;
    justify-content: flex-end;
  }
}
