.submit-confirm-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.submit-confirm-box {
  background-color: white;
  border-radius: 1.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 513px;
  max-width: 90vw;
  height: 396px;
  max-height: 70vh;
  margin-top: 5rem;
}

.submit-confirm-images {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 33px;
  margin-top: 30px;
  margin-bottom: 25px;
}

.unit-submit-success-img,
.unit-submit-tick-img {
  max-width: 31%;
  height: auto;
}

.submit-confirm-text {
  display: flex;
  flex-direction: column;
  gap: 9px;
  text-align: center;
}

.submit-title {
  font-family: "Inter Tight";
  font-weight: 500;
  font-size: 21px;
  color: black;
}

.submit-message {
  font-family: "Inter Tight";
  font-weight: 400;
  font-size: 15px;
  color: #7d7d7d;
}

/* Mobile responsiveness for screens below 480px */

@media (max-width: 480px) {
  .submit-confirm-box {
    width: 90vw;
    height: 100vw;
    margin-top: 5rem;
  }

  .unit-submit-success-img,
  .unit-submit-tick-img {
    max-width: 48%;
  }

  .submit-title {
    font-size: 21px;
  }

  .submit-message {
    font-size: 15px;
  }

  .submit-confirm-images {
    gap: 2rem;
  }

  .submit-confirm-text {
    gap: 0.5rem;
  }
}

@media (max-width: 360px) {
  .submit-confirm-box {
    height: 110vw;
  }
}
