.building-modal-styles {
    width: 1365px;
    border-radius: 6px;
    background-color:white;
    height: 700px;
}

.building-modal-header {
    background-color: white;
    border-radius: 12px;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.building-modal-title {
    font-family: 'Inter Tight';
    font-size: 21px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    color: #201D1E;
}

.toggle-count {
  font-family: 'Inter Tight';
  font-weight: 600; 
  font-size: 14px;
}

.mob-toggle-head {
   font-family: 'Inter Tight';
   font-weight: 500;
   font-size: 16px;
}

@media screen and (min-width: 1536px) and (max-width: 1799px) {
  .building-modal-styles {
    height: 700px;
  }
}

@media screen and (min-width: 1800px) {
  .building-modal-styles {
    height: 780px;
  }
}

@media(max-width:480px) {
  .add-building-modal {
    top: 90px;
  }
}
