.invoice-head {
    font-family: 'Inter Tight';
    font-size: 21px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    color: #201D1E;
}

.invoice-search {
    font-family: 'Inter Tight';
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.invoice-selection {
      font-family: "Public Sans", sans-serif;
      font-size: 15px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px;
      color: #201D1E;
}

.add-invoice {
    background-color: #2892CE;
    color: white;
    font-family: 'Inter Tight';
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.43px;
}

.add-invoice:hover {
    background-color: #076094;
}



.download-btn {
    background-color: #F0F0F0;
    font-family: 'Inter Tight';
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.43px;
    color: #4D4E4D;
}

.download-btn:hover {
    background-color: #201D1E;
    color: white;
}
.download-btn:hover .download-img {
    filter: brightness(0) saturate(100%) invert(100%) sepia(2%) saturate(537%) hue-rotate(47deg) brightness(118%) contrast(100%);
}

.invoice-thead {
    font-family: 'Inter Tight';
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 1px;
    color: #818da0;
}

.invoice-data {
    font-family: 'Inter Tight';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    color: #201D1E;
}

.action-btn:hover {
    filter: brightness(0) saturate(100%) invert(8%) sepia(7%) saturate(582%) hue-rotate(289deg) brightness(100%) contrast(91%);
}