.tenant-modal-styles {
    width: 1365px;
    border-radius: 6px;
    background-color: white;
    height: 700px;
}

.tenant-modal-header {
    background-color: white;
    border-radius: 12px;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.tenant-modal-title {
    font-family: 'Inter Tight';
    font-size: 21px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    color: #201D1E;
}

@media screen and (min-width: 1536px) and (max-width: 1799px) {
  .tenant-modal-styles {
    height: 700px;
  }
}

@media screen and (min-width: 1800px) {
  .tenant-modal-styles {
    height: 780px;
  }
}