.translate-head {
  font-family: "Inter Tight";
  font-size: 21px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  color: #201d1e;
}

.translate-search {
  font-family: "Inter Tight";
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  box-sizing: border-box;
}

.translate-search::placeholder {
  font-family: "Inter Tight";
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.translate-selection {
  font-family: "Public Sans", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  color: #201d1e;
  box-sizing: border-box;
}

.update-btn {
  background-color: #2892ce;
  color: white;
  font-family: "Inter Tight";
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.43px;
  box-sizing: border-box;
}

.update-btn:hover {
  background-color: #076094;
}

.translate-thead {
  font-family: "Inter Tight";
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 1px;
  color: #818da0;
  white-space: nowrap;
}

.translate-data {
  font-family: "Inter Tight";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  color: #201d1e;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.custom-input {
  border-radius: 6px;
  outline-style: none;
  font-family: "Inter Tight";
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.custom-input::placeholder {
  font-family: "Inter Tight";
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0px;
}

.collection-list-pagination {
  font-family: "Inter Tight";
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  color: #4b465c80;
}

.pagination-btn {
  font-family: "Inter Tight";
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0.43px;
  color: #8a94a3;
}

.page-no-btns {
  font-family: "Inter Tight";
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0.43px;
}

/* Responsive Styles */
@media (max-width: 360px) {
  .translate-table {
    margin-bottom: 50px;
  }
  .translate-search {
    width: 100%;
  }
  .translate-selection {
    width: 100%;
  }
  .update-btn {
    width: 60%;
  }
  .pagination-btn {
    font-size: 13px;
    padding: 0px 10px;
    height: 28px;
  }
  .page-no-btns {
    font-size: 13px;
    padding: 0px 10px;
    height: 28px;
  }
}

@media (max-width: 390px) {
  .translate-selection {
    width: 100%;
  }
  .update-btn {
    width: 60%;
  }
}

@media (max-width: 414px) {
  .translate-thead {
    font-size: 11px;
  }
}

@media (max-width: 480px) {
  .translate-table {
    max-width: calc(100vw - 40px);
    margin-bottom: 50px;
  }
  .translate-table-header {
    flex-direction: column;
    border-bottom: none;
    align-items: flex-start;
  }
  .translate-head {
    display: none;
  }
  .translate-inputs-container {
    flex-direction: column;
    width: 100%;
    gap: 10px;
    margin-bottom: 5px;
  }
  .translate-search {
    width: 100%;
  }
  .second-row-container {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    gap: 10px;
  }
  .translate-selection {
    width: 100%;
    margin-left: 0px;
  }
  .update-btn {
    width: 60%;
  }
  .desktop-only {
    display: none;
  }
  .pagination-container {
    flex-direction: column;
    height: 97.53px;
    justify-content: center;
    gap: 16px;
    align-items: center;
  }
  .collection-list-pagination {
    text-align: center;
  }
  .pagination-buttons {
    display: flex;
    justify-content: center;
    width: 100%;
    overflow-y: hidden;
  }
  .translate-dropdown-field {
    background-color: #dedede;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    margin-right: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;
  }
  .translate-dropdown-field.active {
    background-color: #254396;
  }
  .translate-dropdown-img {
    width: 10px;
    transition: transform 0.3s ease;
  }
  .translate-dropdown-field.active .translate-dropdown-img {
    transform: rotate(180deg);
  }
  .translate-table-row-head {
    height: auto;
    background-color: #f7f7f7;
    border-bottom: none;
  }
  .translate-thead {
    padding-right: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .translate-id-column {
    padding-right: 10px;
  }
  .translate-data.variable-column {
    white-space: nowrap;
    
    padding-right: 0;
  }
  .dropdown-label {
    font-family: "Inter Tight";
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 1px;
    color: #818da0;
    margin-bottom: 4px;
    padding-left: 0;
  }
  .dropdown-value {
    font-family: "Inter Tight";
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    color: #201d1e;
  }
  .translate-dropdown-content {
    width: 100%;
  }
  .translate-grid {
    display: flex;
    gap: 10px;
    margin-bottom: 24px;
  }
  .translate-grid-items {
    width: 50%;
  }
  .dropdown-label {
    margin-bottom: 5px !important;
  }
  .dropdown-value {
    word-break: break-word;
    padding-right: 0px;
  }
  .mobile-no-border {
    border-bottom: none !important;
  }
  .mobile-with-border {
    border-bottom: 1px solid #e9e9e9;
  }
}

@media (min-width: 481px) {
  .translate-dropdown-field,
  .translate-dropdown-content {
    display: none;
  }
  .second-row-container {
    display: flex;
    gap: 10px;
  }
}

@media (max-width: 394px) {
  .translate-thead {
    font-size: 13px;
  }
  .translate-data {
    font-size: 13px;
  }
}