.unit-modal-styles {
  width: 1365px;
  border-radius: 6px;
  background-color: white;
  height: 700px;
}

.unit-modal-header {
  background-color: white;
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.unit-modal-title {
  font-family: "Inter Tight";
  font-size: 21px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  color: #201d1e;
}

@media screen and (min-width: 1536px) and (max-width: 1799px) {
  .unit-modal-styles {
    height: 700px;
  }
}

@media screen and (min-width: 1800px) {
  .unit-modal-styles {
    height: 780px;
  }
}

@media (max-width: 480px) { 
  .unit-modal-styles {
    height: 100vh !important;
  }
}