.modal-container {
  width: 100%;
  height: 100vh;
  border-radius: 0;
  background-color: #F8F9FA; /* Single background for mobile */
}

@media (min-width: 768px) {
  .modal-container {
    width: 830px;
    height: 548px;
    border-radius: 6px;
    background-color: #ffffff; /* White background for desktop */
  }
}

@media (max-width: 480px) {
  .modal-container {
    position: absolute;
    top: 90px;
    z-index: 100;
  }
}

.heading-text {
  font-family: "Inter Tight";
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0px;
  vertical-align: middle;
}

@media (min-width: 768px) {
  .heading-text {
    font-size: 21px;
    line-height: 24px;
  }
}

@media (max-width: 480px) {
  .heading-text {
    display: none;
  }
}

.input-style {
  width: 100%;
  height: 38px;
  border-radius: 6px;
  border: 1px solid #e9e9e9;
  padding: 0 12px;
  font-size: 14px;
  color: #111827;
  background-color: #ffffff;
  outline: none;
}

@media (min-width: 768px) {
  .input-style {
    width: 375px;   
  }
}

@media (max-width: 480px) {
  .input-style {
    max-width: calc(100vw - 35px);
    background-color: #F8F9FA !important;
  }
}

.input-style::placeholder {
  font-family: "Inter Tight";
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  letter-spacing: 0;
  vertical-align: middle;
  color: #cfcfcf;
}

.input-style.select {
  padding-right: 40px;
  appearance: none;
}

.custom-select {
  font-size: 15px;
  font-weight: 400;
  font-family: "Inter Tight";
  color: #cfcfcf;
  appearance: none;
  outline: none;
}

.custom-select option {
  font-family: "Inter Tight";
  font-size: 15px;
  font-weight: 400;
  color: #201d1e;
}

@media(max-width: 480px){
  .drop-down-icon {
     top: 38px;
     right: 15px; 
  }
}

.close-button {
  position: absolute;
  width: 42px;
  height: 42px;
  top: 20px;
  right: 20px;
  border-radius: 60px;
  border: 1px solid #e9e9e9;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 768px) {
  .close-button {
    top: 31px;
    left: 758px;
  }
}

.form-label {
  font-family: "Inter Tight";
  font-weight: 400;
  font-size: 13px;
  line-height: 100%;
  letter-spacing: 0;
  vertical-align: middle;
}

.create-user-button {
  width: 100%;
  height: 38px;
  border-radius: 6px;
  color: white;
  font-family: 'Inter Tight';
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.43px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 768px) {
  .create-user-button {
    width: 375px;
    position: absolute;
    top: 479px;
    left: 425px;
  }
}

@media (max-width: 480px) {
  .modal-overlay {
    position: static; /* Neutralizes fixed positioning */
    inset: auto; /* Removes inset: 0 */
    display: block; /* Removes flexbox centering */
    background-color: transparent; /* Removes the black background */
    opacity: 1; /* Resets opacity */
  }
}