.view-modal-container {
  width: 100%;
  max-width: 1006px;
  height: 862px;
  border-radius: 6px;
  background-color: #ffffff;
  box-sizing: border-box;
}

@media (min-width: 768px) {
  .view-modal-container {
    width: 1006px;
    max-width: 1006px;
    height: 862px;
    border-radius: 6px;
    background-color: #ffffff;
  }
}

@media (max-width: 480px) {
  .view-modal-container {
    position: absolute;
    top: 90px;
    z-index: 100;
    width: calc(100vw - 20px);
    margin: 0 10px;
    left: 0;
    right: 0;
    max-height: calc(100vh - 90px);
    overflow-y: auto;
    border-radius: 0;
    background-color: #F8F9FA;
  }
}

.view-modal-overlay {
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.7);
}

@media (max-width: 480px) {
  .view-modal-overlay {
    position: static;
    inset: auto;
    display: block;
    background-color: transparent;
    opacity: 1;
  }
}

.tenancy-view-modal-head {
  font-family: "Inter Tight";
  font-weight: 500;
  font-size: 21px;
  line-height: 24px;
  letter-spacing: 0px;
}

@media (max-width: 480px) {
  .tenancy-view-modal-head {
    display: none;
  }
}

.tenancy-view-modal-close-btn {
  width: 42px;
  height: 42px;
  border-radius: 60px;
  border: 1px solid #e9e9e9;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 480px) {
  .tenancy-view-modal-close-btn {
    display: none;
  }
}

.tenancy-view-modal-label {
  font-family: "Inter Tight";
  font-weight: 400;
  font-size: 13px;
  line-height: 100%;
  letter-spacing: 0px;
  color: #b7b5be;
}

.tenancy-view-modal-data {
  font-family: "Inter Tight";
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  letter-spacing: 0px;
  color: #4b465c;
}

.view-tenancy-charges-thead {
  font-family: "Inter Tight";
  font-weight: 500;
  font-size: 13px;
  line-height: 24px;
  letter-spacing: 0px;
  color: #7f8898;
  margin-top: 5px;
}

.view-tenancy-charges-tdata {
  font-family: "Inter Tight";
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0px;
  color: #201d1e;
}

.additional-charges-heading {
  font-family: 'Public Sans';
  font-weight: 600;
  font-size: 15px;
  line-height: 24px;
  letter-spacing: 0px;
}

.desktop-table {
  display: table;
}

@media (max-width: 480px) {
  .desktop-table {
    display: none;
  }
}

.mobile-table {
  display: none;
}

@media (max-width: 480px) {
  .mobile-table {
    display: block;
  }

  .mobile-table > div {
    border-bottom: 1px solid #E9E9E9;
    padding: 10px;
  }

  .mobile-table > div > .header-row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 10px;
    padding: 10px 0;
  }

  .mobile-table .data-row {
    background-color: #FFFFFF;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 10px;
    padding: 10px 0;
  }

  .mobile-table .header-row > div {
    text-align: left;
  }

  .mobile-table .data-row > div {
    text-align: left;
  }
}