.unit-info-form-lable {
  margin-bottom: 10px;
  font-family: "Inter Tight";
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #201d1e;
}

.building-info-form-inputs::placeholder {
  font-family: "Inter Tight";
  font-size: 15px;
}

.building-info-form-inputs::placeholder {
  font-family: "Inter Tight";
  font-size: 15px;
}

.back-button {
  font-family: "Inter Tight";
  width: 150px;
  height: 38px;
  border-radius: 6px;
  border: 1px solid #201d1e;
}

.next-btn{
    background-color: #2892CE;
    border-radius: 6px;
    color: white;
    font-family: "Inter Tight";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0.43px;
}

.next-btn:hover {
    background-color: #0D74AF;
}


/* Hide number input spinners */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
}
